<div class="certificate-container" style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; font-family: 'Times New Roman', Times, serif;">
    <img class="image" src="../../../assets/images/certificate-templates/certificate-template-6.png" alt="Certificate-template-6" style="width: 100%; height: auto;">
    <span class="company-name certificate-font" style="position: absolute; color: #1f4690; width: 100%; text-align: center; max-width: max-content; min-width: 15%; font-size: 1.75vw; top: 7%; left: 47.75%; transform: translateX(-50%);">{{ certificateData.companyName }}</span>
    <span class="fullname certificate-font" style="position: absolute; color: #1f4690; width: 100%; text-align: center; max-width: max-content; min-width: 80%; font-size: 2.05vw; top: 49%; left: 30%; text-align: end; transform: translateX(-50%);">{{ certificateData.fullName }}</span>
    <span class="course-name certificate-font" style="position: absolute; color: #1f4690; width: 100%; text-align: center; max-width: max-content; min-width: 18%; font-size: 1.75vw; top: 64.5%; left: 48.75%; transform: translateX(-50%);">{{ certificateData.courseName }}</span>
    <span class="creation-date certificate-font" style="position: absolute; color: #1f4690; width: 100%; text-align: center; max-width: max-content; min-width: 10%; font-size: 1.25vw; top: 81%; left: 49.5%; transform: translateX(-50%);">{{ certificateData.creationDate }}</span>
    <div class="text-string certificate-font" style="position: absolute; color: #1f4690; font-size: 0.85vw; top: 95%; left: 39%; transform: translateX(-50%); visibility: hidden;">Id Сертифікату:</div>
    <span class="certificateId certificate-font" style="position: absolute; color: #1f4690; font-size: 0.85vw; top: 95%; left: 55.75%; transform: translateX(-50%); visibility: hidden;">bf811f95-b7cf-4a21-9fc9-6d20c47489c2</span>
</div>

<!-- 
    <div class="certificate-container">
    <img class="image" src="../../../assets/images/certificate-templates/certificate-template-6.png" alt="Certificate-template-6">
    <span class="company-name certificate-font">{{ certificateData.companyName }}</span>
    <span class="fullname certificate-font">{{ certificateData.fullName }}</span>
    <span class="course-name certificate-font">{{ certificateData.courseName }}</span>
    <span class="creation-date certificate-font">{{ certificateData.creationDate }}</span>
    <div  class="text-string certificate-font">Id Сертифікату:</div>
    <span class="certificateId certificate-font">bf811f95-b7cf-4a21-9fc9-6d20c47489c2</span>
</div>

 -->