<div class="main-block">
    <div class="template-container" *ngIf="selectedTemplate | async as templateId" [ngSwitch]="templateId">
        <certificate-template-1 *ngSwitchCase="'template-1'"></certificate-template-1>
        <certificate-template-2 *ngSwitchCase="'template-2'"></certificate-template-2>
        <certificate-template-3 *ngSwitchCase="'template-3'"></certificate-template-3>
        <certificate-template-4 *ngSwitchCase="'template-4'"></certificate-template-4>
        <certificate-template-5 *ngSwitchCase="'template-5'"></certificate-template-5>
        <certificate-template-6 *ngSwitchCase="'template-6'"></certificate-template-6>
    </div>
    <div class="buttons-block">
        <button class="button" type="button" [routerLink]="['/choose-template']" routerLinkActive="router-link-active">Go Back</button>
        <button class="button" type="button" (click)="NavigateToFormationPage()">Confirm Template</button>
    </div>
</div>
<app-fixed-footer></app-fixed-footer>