.certificate-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    width: 100%;
    height: auto;
}

span {
    position: absolute;
    color: #2e2d2d;
    width: 100%;
    text-align: center;
    max-width: max-content;
}

.fullname {
    min-width: 20%;
    font-size: 2.8vw;
    top: 45.25%;
    left: 50%;
    transform: translateX(-50%);
}

.company-name {
    min-width: 15%;
    font-size: 1.25vw;
    top: 86%;
    left: 75.9%;
    transform: translateX(-50%);
}

.course-name {
    min-width: 18%;
    font-size: 1.75vw;
    top: 65%;
    left: 50.1%;
    color: #594800;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(-50%);
}

.creation-date {
    min-width: 10%;
    font-size: 1.25vw;
    top: 86%;
    left: 22.4%;
    transform: translateX(-50%);
}

.text-string, .certificateId {
    font-size: 0.75vw;
    top: 92.5%;
    transform: translateX(-50%);
}

.text-string {
    color: #2e2d2d;
    position: absolute;
    left: 40%;
}

.certificateId {
    left: 54.75%;
}

@media (max-width: 768px) {
    .fullname, .company-name, .course-name, .creation-date {
        font-size: 3vw;
    }
}
