<div class="certificate-container" style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; font-family: 'Times New Roman', Times, serif;">
    <img class="image" src="../../../assets/images/certificate-templates/certificate-template-3.png" alt="Certificate-template-3" style="width: 100%; height: auto;">
    <span class="company-name certificate-font" style="position: absolute; color: #2e2d2d; width: 100%; text-align: center; max-width: max-content; min-width: 15%; font-size: 1.25vw; top: 86%; left: 75.9%; transform: translateX(-50%);">{{ certificateData.companyName }}</span>
    <span class="fullname certificate-font" style="position: absolute; color: #2e2d2d; width: 100%; text-align: center; max-width: max-content; min-width: 20%; font-size: 2.8vw; top: 45.25%; left: 50%; transform: translateX(-50%);">{{ certificateData.fullName }}</span>
    <span class="course-name certificate-font" style="position: absolute; color: #594800; width: 100%; text-align: center; max-width: max-content; min-width: 18%; font-size: 1.75vw; top: 65%; left: 50.1%; font-family: Arial, Helvetica, sans-serif; transform: translateX(-50%);">{{ certificateData.courseName }}</span>
    <span class="creation-date certificate-font" style="position: absolute; color: #2e2d2d; width: 100%; text-align: center; max-width: max-content; min-width: 10%; font-size: 1.25vw; top: 86%; left: 22.2%; transform: translateX(-50%);">{{ certificateData.creationDate }}</span>
    <div class="text-string certificate-font" style="position: absolute; color: #2e2d2d; font-size: 0.75vw; top: 92.5%; left: 40%; transform: translateX(-50%); visibility: hidden;">Id Сертифікату:</div>
    <span class="certificateId certificate-font" style="position: absolute; color: #2e2d2d; font-size: 0.75vw; top: 92.5%; left: 54.75%; transform: translateX(-50%); visibility: hidden;">bf811f95-b7cf-4a21-9fc9-6d20c47489c2</span>
</div>

<!-- 
    <div class="certificate-container">
    <img class="image" src="../../../assets/images/certificate-templates/certificate-template-3.png" alt="Certificate-template-3">
    <span class="company-name certificate-font">{{ certificateData.companyName }}</span>
    <span class="fullname certificate-font">{{ certificateData.fullName }}</span>
    <span class="course-name certificate-font">{{ certificateData.courseName }}</span>
    <span class="creation-date certificate-font">{{ certificateData.creationDate }}</span>
    <div  class="text-string certificate-font">Id Сертифікату:</div>
    <span class="certificateId certificate-font">bf811f95-b7cf-4a21-9fc9-6d20c47489c2</span>
</div>
 -->