<nav class="nav">
    <ul class="nav-table">
        <li class="nav-block">
            <a routerLink="/" routerLinkActive="active">
                <img class="img-logo" src="../../assets/images/CertificateLogo.ico" alt="Certificate Creator">
            </a>
        </li>
        <li class="nav-block">
            <a routerLink="/choose-template" routerLinkActive="active">
                Create Certificate
            </a>
        </li>
        <li class="nav-block">
            <a routerLink="/verify-certificate" routerLinkActive="active">
                Verify Certificate
            </a>
        </li>
    </ul>
</nav>
