<main class="main-block">
    <div class="text-block">
        <div class="app-title">Certificate Creator</div>
        <div class="app-description">Create your own verified certificates</div>
    </div>
    <div class="buttons-block">
        <div class="button-block">
            <img class="icon" src="../../assets/images/home-page/certificate-blue.png" alt="Certificate" routerLink="/choose-template" routerLinkActive="active">
            <button class="button" type="button" routerLink="/choose-template" routerLinkActive="active">Create Certificate</button>
        </div>
        <div class="button-block">
            <img class="icon" src="../../assets/images/home-page/verified-blue.png" alt="Verify" routerLink="/verify-certificate" routerLinkActive="active">
            <button class="button" type="button" routerLink="/verify-certificate" routerLinkActive="active">Verify Certificate</button>
        </div>
    </div>
</main>
<app-fixed-footer></app-fixed-footer>